# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Model dosyaları
*.h5
*.hdf5
*.pb
models/
checkpoints/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Veri setleri
skin_dataset/
*.zip
*.csv

# Logs
*.log
logs/

